@font-face{
  font-family: Product Sans;
  src: url(src/css/font.ttf);
  font-weight: normal;
}
 body{
  font-family: 'Product Sans', sans-serif !important;
}
.nav-header {
  width: auto;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.rainbow-button {
  margin-top: 15px;
  margin-bottom: 10px;
  width: auto;
  background: #ffe600;
  padding: 15px;
  color: #000;
  text-decoration: solid;
  border: 0px;
  border-radius: 20px;
  cursor: pointer;
  transition: 1s;
}